PORT=5000
MONGODB_URI=mongodb://localhost:27017/crm_lead_manager
ACCESS_TOKEN_SECRET=lead_crm_access_token_super_secret_key_2026_dev
REFRESH_TOKEN_SECRET=lead_crm_refresh_token_super_secret_key_2026_dev
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
